<!DOCTYPE html>
<html lang="zh">
<head>
<title>{{title}}</title>
<meta charset="UTF-8">
<script src="https://unpkg.com/video.js/dist/video.min.js"></script>
<script src="https://unpkg.com/videojs-contrib-hls/dist/videojs-contrib-hls.min.js"></script>
<link rel='stylesheet' id='videojs-css'  href='https://unpkg.com/video.js/dist/video-js.min.css?ver=4.9.3' type='text/css' media='all' />
<style>
html, body {
	height: 98%
}
.scroll-wrapper {
	right: 0;
	bottom: 0;
	left: 0;
	top: 0;
	overflow-y: scroll;
	float: left;
}
#left, #right {
	width: 50%;
	height: 100%;
}
#left {
    background: #faf0e6;
}
iframe {
	width: 100%;
	height: 98%;
}
#player {
	max-width: 960px;
	margin: 0 auto;
	margin-top: 40px;
}

#tooltip {
	text-align: center; 
	line-height: 200px;
	font-size: 24;
}
</style>
</head>
<body>
<div class="scroll-wrapper" id="left">
<br/>
<h5 align="center">{{title}}</h5>
<p align="center">
<video id=player height="360px" width="640px" class="video-js vjs-default-skin" controls autoplay preload="auto">
  <source
     src="./live?v={{id}}"
     type="video/mp4">
</video>
<script type="text/javascript">
	var player = videojs('player');
	player.play();
</script>
</p>
<br/>
<h5 align="center">
    <a href="./download?v={{id}}&type=audio">下载音频</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="./download?v={{id}}&type=video">下载视频</a>
</h5>
<h5 align="center">友情链接：
    <a href="https://git.io/vxShb" target="_blank">我的博客</a> -
    <a href="https://git.io/vxSh5" target="_blank">翻墙软件</a> -
    <a href="https://github.com/Alvin9999/new-pac/wiki" target="_blank">自由上网</a> -
    <a href="https://github.com/gfw-breaker/ssr-accounts" target="_blank">ss/ssr账号</a> -
    <a href="https://github.com/gfw-breaker/open-proxy" target="_blank">反向代理</a> -
    <a href="https://git.io/vxShq" target="_blank">新唐人电视台</a>
</h5>
</div>
<div class="scroll-wrapper" id="right">
    <iframe src="http://144.202.24.184:10080/videos/index.html" frameborder="0" scrolling="yes"></iframe>
</div>
</body>
</html>

